@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Italic.woff2") format("woff2"), url("../fonts/Ubuntu-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

html {
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #000;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

a:active,
a:hover {
  outline: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  border: 0;
  display: block;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.h1 {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 20px;
}

.h1 > span {
  font-weight: 700;
  font-size: 48px;
}

.h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: white;
  margin-bottom: 50px;
  font-size: 32px;
}

.h3 {
  text-align: center;
  padding-left: 27px;
  padding-right: 27px;
  font-size: 32px;
  font-weight: 400;
}

.h3 > span {
  text-transform: uppercase;
}

.m_h3 {
  display: none;
}

.h4 {
  font-weight: 500;
  font-size: 32px;
  color: #000;
  text-align: center;
  z-index: 10;
}

.h4 > span {
  text-transform: uppercase;
}

.h5 {
  font-weight: 400;
  text-align: center;
  margin-top: 33px;
  font-size: 24px;
}

.section {
  padding: 50px 0 60px 0;
  padding-top: 50px;
  padding-bottom: 60px;
}

.footer {
  background-color: #c70540;
  padding: 85px 0;
  color: white;
}

.footer__callme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__callme-link {
  text-decoration: none;
}

.footer__callme-img {
  width: 34px;
  height: 34px;
  fill: white;
  -webkit-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;
  margin-bottom: 10px;
}

.footer__callme-img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__callme-img-v {
  width: 36px;
  height: 36px;
}

.footer__block {
  padding-left: 99px;
  padding-right: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column {
  width: 30%;
}

.footer__text {
  display: block;
  color: white;
  text-decoration: none;
  outline: none;
  font-size: 12px;
  font-weight: 400;
}

.footer__text:not(:last-child) {
  margin-bottom: 12px;
}

.footer__text_soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__phone {
  display: inline-block;
}

.footer__img {
  margin-right: 10px;
}

.hero {
  position: relative;
  padding-bottom: 50px;
}

.hero__image-block {
  position: absolute;
  width: 65%;
  top: -120px;
  left: -5%;
  z-index: 0;
}

.hero__image-block-text {
  font-size: 20px;
}

.hero__m-image-block {
  display: none;
}

.hero__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero__image-wrap {
  position: relative;
}

.hero__image-group {
  position: absolute;
  bottom: 27%;
  left: 50%;
  width: 35%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: white;
}

.hero__link {
  display: inline-block;
  margin-top: 10px;
  z-index: 20;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 64px;
  z-index: 50;
}

.hero__m-list {
  display: none;
}

.hero__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
  padding-left: 10px;
  border-left: 8px solid #c70540;
  z-index: 50;
}

.hero__m-item {
  font-size: 24px;
  color: white;
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.hero__m-item1 {
  font-size: 24px;
  margin-bottom: 600px;
  margin-bottom: 210px;
  color: black;
  text-align: center;
}

.hero__text {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  font-size: 32px;
  line-height: 1.374;
  z-index: 50;
  position: relative;
}

.hero__text_bold {
  font-size: 48px;
  font-weight: 700;
}

.header {
  z-index: 50;
  text-align: right;
  margin-top: 50px;
  margin-bottom: 140px;
}

.header__text {
  font-size: 26px;
}

.header__logo {
  display: none;
}

.header__callme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__callme-img {
  width: 34px;
  height: 34px;
  fill: white;
  -webkit-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;
  margin-bottom: 10px;
}

.header__callme-img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header__callme-img-v {
  width: 36px;
  height: 36px;
}

.header__callme-link {
  text-decoration: none;
}

.header__phone {
  font-weight: 700;
  font-size: 36px;
  color: #000;
  text-decoration: none;
}

.header__link {
  text-decoration: underline;
  color: #c70540;
  padding-left: 10px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header__link:hover {
  opacity: 0.7;
}

.offer {
  width: 40%;
  z-index: 50;
}

.offer__text {
  margin-bottom: 35px;
  font-size: 20px;
}

.offer__text_pink {
  color: #c70540;
}

.offer__title {
  display: none;
}

.h1_m {
  display: none;
  font-size: 20px;
  margin: 25px 0 20px 0;
}

.h1_m > span {
  white-space: nowrap;
  font-size: 20px;
}

.btn {
  width: 100%;
  text-align: center;
  display: block;
  text-decoration: none;
  background-color: #c70540;
  padding: 20px 0 18px 0;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
}

.btn_offer {
  margin-top: 64px;
  margin-bottom: 64px;
  border: 1px solid #c70540;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.btn_offer:hover {
  background-color: white;
  color: #c70540;
  border: 1px solid #c70540;
}

.btn_white {
  width: auto;
  display: inline-block;
  padding-left: 85px;
  padding-right: 85px;
  padding-right: 85px;
  background-color: white;
  color: #c70540;
  margin-top: 35px;
  border: 1px solid white;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.btn_white:hover {
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
}

.btn_submit {
  border: none;
  width: auto;
  padding-left: 85px;
  padding-right: 85px;
  letter-spacing: 5px;
  font-style: normal;
  border: 1px solid #c70540;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.btn_submit:hover {
  background-color: white;
  color: #c70540;
  border: 1px solid #c70540;
}

.btn-submit-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
  margin-bottom: 10px;
}

.video {
  text-align: center;
  width: 100%;
  height: 650px;
  cursor: pointer;
}

.video__wrap {
  position: relative;
  margin: 40px auto 0 auto;
}

.video-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.video-slider .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
}

.video-slider .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.video-slider__next,
.video-slider__prev {
  cursor: pointer;
  z-index: 50;
  position: absolute;
  width: 30px;
  height: 30px;
  background: url(../img/arrow.svg) no-repeat center center/contain;
  top: 46%;
}

.video-slider__prev {
  left: -50px;
}

.video-slider__next {
  right: -50px;
  left: auto;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.about {
  color: white;
  background: url("../img/bg1.png") no-repeat center right/cover;
}

.about__list {
  width: 50%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(9, 9, 121, 0)), color-stop(21%, #5c5b60), color-stop(60%, #5c5b60), to(rgba(0, 212, 255, 0)));
  background: -o-linear-gradient(left, rgba(9, 9, 121, 0) 0%, #5c5b60 21%, #5c5b60 60%, rgba(0, 212, 255, 0) 100%);
  background: linear-gradient(90deg, rgba(9, 9, 121, 0) 0%, #5c5b60 21%, #5c5b60 60%, rgba(0, 212, 255, 0) 100%);
}

.about__item {
  margin-bottom: 16px;
  font-size: 20px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(9, 9, 121, 0)), color-stop(30%, #35383d), color-stop(78%, #35383d), to(rgba(0, 212, 255, 0)));
  background: -o-linear-gradient(left, rgba(9, 9, 121, 0) 0%, #35383d 30%, #35383d 78%, rgba(0, 212, 255, 0) 100%);
  background: linear-gradient(90deg, rgba(9, 9, 121, 0) 0%, #35383d 30%, #35383d 78%, rgba(0, 212, 255, 0) 100%);
  padding: 5px 20px;
}

.about__text {
  width: 50%;
  margin-bottom: 16px;
  padding: 5px 20px;
}

.m-about {
  display: none;
}

.m-h2 {
  color: #c70540;
  font-size: 24px;
}

.why {
  background: url("../img/why.png") no-repeat center center;
  position: relative;
}

.why__img {
  display: none;
}

.why__img-block {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.why__img {
  width: 100%;
}

.why__h2 {
  color: #000;
  width: 70%;
  margin: 0 auto 140px auto;
}

.why__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why__column {
  width: 26%;
}

.why__item {
  text-align: left;
  position: relative;
  margin-bottom: 70px;
  font-size: 20px;
}

.why__item::after {
  position: absolute;
  content: '';
  bottom: -13px;
  left: 0;
  width: 65px;
  height: 10px;
  background-color: #c70540;
}

.why__item_right {
  text-align: right;
}

.why__item_right::after {
  right: 0;
  left: auto;
}

.org {
  background: url("../img/bg2.png") no-repeat center center/cover;
}

.org__h2 {
  color: #000;
}

.org__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 54px;
}

.org__img {
  margin: 0 auto;
  margin-bottom: 46px;
}

.org__column {
  width: 40%;
  text-align: center;
}

.org__column_right {
  text-align: left;
  width: 60%;
}

.org__title {
  color: white;
  font-size: 32px;
}

.org__title_left {
  text-align: center;
}

.org__txt-block {
  margin-top: 54px;
}

.org__text {
  margin-bottom: 25px;
}

.part {
  position: relative;
}

.back {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, white), to(#fae6eb));
  background: -o-linear-gradient(bottom, white 30%, #fae6eb 100%);
  background: linear-gradient(0deg, white 30%, #fae6eb 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}

.diploma {
  min-height: 640px;
}

.diploma__h2 {
  color: #000;
}

.diploma__block {
  position: relative;
}

.diploma__item {
  position: absolute;
  top: 0;
  left: -100px;
  z-index: -1;
}

.diploma__item_right {
  right: -190px;
  left: auto;
  top: -310px;
}

.diploma1200 {
  display: none;
}

.diploma1200__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.diploma1200__item {
  position: relative;
}

.diploma1200__text-block {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 50px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.diploma1200__title {
  -moz-text-align-last: left;
       text-align-last: left;
  font-weight: 500;
  color: #c70540;
}

.diploma1200__title > span {
  text-transform: uppercase;
  font-size: 36px;
}

.diploma1200__price {
  font-weight: 700;
  font-size: 32px;
  color: #c70540;
}

.diploma1200__text > span {
  text-transform: uppercase;
  font-size: 24px;
}

.diploma-m {
  display: none;
}

.form-block_h4 {
  font-size: 32px;
}

.form-block_m-h4 {
  display: none;
}

.form {
  padding: 52px 156px 49px 100px;
  position: relative;
  z-index: 10;
  background-color: #fae6eb;
  font-style: italic;
  font-size: 16px;
  margin: 40px 100px 0 100px;
}

.form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__left {
  width: 65%;
  margin-right: 30px;
}

.form__right {
  margin-left: 30px;
}

.form__title {
  margin-bottom: 14px;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.form__right-block:not(:last-child) {
  margin-bottom: 65px;
}

.form__text {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 75%;
  text-align: center;
  font-size: 12px;
}

.input {
  display: block;
  padding: 20px 10px 24px 20px;
  outline: none;
  border: 1px solid #dadada;
  width: 100%;
}

.input:not(:last-child) {
  margin-bottom: 32px;
}

.input::-webkit-input-placeholder {
  font-size: 12px;
  color: #000;
}

.input::-moz-placeholder {
  font-size: 12px;
  color: #000;
}

.input:-ms-input-placeholder {
  font-size: 12px;
  color: #000;
}

.input::-ms-input-placeholder {
  font-size: 12px;
  color: #000;
}

.input::placeholder {
  font-size: 12px;
  color: #000;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.label:not(:last-child) {
  margin-bottom: 15px;
}

.radio {
  display: none;
}

.switch {
  position: relative;
  padding: 5px 0 5px 30px;
  font-size: 12px;
}

.switch:before {
  content: '';
  position: absolute;
  display: block;
  top: 0px;
  left: 0;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 1px solid #dcdbdb;
  background-color: white;
}

.switch:after {
  content: '';
  opacity: 0;
  position: absolute;
  display: block;
  top: 7px;
  left: 7px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #c70540;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.radio:checked + .switch:after {
  opacity: 1;
}

.card {
  padding: 30px;
  background-color: LawnGreen;
  min-height: 300px;
  color: #111;
  font-size: 16px;
}

/* swiper-bullets styling */

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 15px;
  background-color: tomato;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: navy;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  margin-left: 10px;
}

.swiper-container {
  padding-bottom: 50px;
}

.slider-container {
  overflow: hidden;
  width: 100%;
}

.slider-container .swiper-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 20%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
}

.ambassador_h2 {
  color: #000;
}

.amba {
  margin-top: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.amba__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.amba__pic {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 260px;
  height: 260px;
  display: block;
  -o-object-position: center center;
     object-position: center center;
}

.amba__name {
  text-align: center;
  margin-top: 35px;
}

.amba__card {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 30px;
  margin-right: 20px;
}

.sponsors_h2 {
  color: #000;
}

.sponsors__title {
  font-weight: 300;
  font-size: 32px;
  text-align: center;
}

.sponsors-m_h4 {
  display: none;
}

.sponsor {
  margin-top: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.sponsor__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sponsor__img {
  width: 205px;
  height: 110px;
}

.sponsor__name {
  text-align: center;
  margin-top: 35px;
  text-decoration: none;
  color: black;
}

.sponsor__card {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: none;
  text-align: center;
}

.slider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.slide__item {
  text-decoration: none;
  color: black;
  text-align: center;
}

.slide__name {
  text-align: center;
  margin-top: 12px;
  text-transform: uppercase;
}

.slider__pic {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__arrows {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  margin-left: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: black;
  font-size: 20px;
}

.slider__container {
  position: relative;
}

.sponsor__arrows {
  display: none;
}

.swiper-button-next1,
.swiper-button-prev1 {
  position: static;
  margin-left: 0;
  height: 30px;
}

.swiper-button-next1:after,
.swiper-button-prev1:after {
  color: black;
  font-size: 20px;
}

.amba .swiper-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 95%;
  }

  .footer__block {
    padding-left: 5%;
    padding-right: 5%;
  }

  .hero__image-block {
    width: 75%;
    top: -100px;
  }

  .video__wrap {
    width: 90%;
  }

  .about__list {
    width: 80%;
  }

  .about__text {
    width: 80%;
  }

  .org__h2 {
    width: 90%;
    margin: 0 auto 50px auto;
  }

  .org__block {
    padding: 0 1%;
  }

  .diploma__item {
    width: 60%;
  }

  .diploma__item_right {
    top: -201px;
  }

  .diploma {
    display: none;
  }

  .diploma1200 {
    display: block;
  }
}

@media (max-width: 1140px) {
  .h1 {
    font-size: calc(20px + 12*((100vw - 320px)/820));
  }

  .h1 > span {
    font-size: calc(20px + 28*((100vw - 320px)/820));
  }

  .h2 {
    font-size: calc(14px + 18*((100vw - 320px)/820));
  }

  .h5 {
    font-size: calc(12px + 12*((100vw - 320px)/820));
  }

  .section {
    padding-top: calc(20px + 30*((100vw - 320px)/820));
  }

  .section {
    padding-bottom: calc(20px + 40*((100vw - 320px)/820));
  }

  .hero {
    padding-bottom: calc(0px + 50*((100vw - 320px)/820));
  }

  .hero__image-block-text {
    font-size: calc(14px + 6*((100vw - 320px)/820));
  }

  .hero__m-item {
    font-size: calc(12px + 12*((100vw - 320px)/820));
  }

  .hero__m-item1 {
    font-size: calc(12px + 12*((100vw - 320px)/820));
  }

  .hero__m-item1 {
    margin-bottom: calc(210px + 390*((100vw - 320px)/820));
  }

  .header {
    margin-top: calc(10px + 40*((100vw - 320px)/820));
  }

  .header {
    margin-bottom: calc(30px + 110*((100vw - 320px)/820));
  }

  .header__text {
    font-size: calc(13px + 13*((100vw - 320px)/820));
  }

  .header__phone {
    font-size: calc(18px + 18*((100vw - 320px)/820));
  }

  .offer__text {
    font-size: calc(14px + 6*((100vw - 320px)/820));
  }

  .btn {
    font-size: calc(15px + 9*((100vw - 320px)/820));
  }

  .btn_offer {
    margin-top: calc(20px + 44*((100vw - 320px)/820));
  }

  .btn_offer {
    margin-bottom: calc(20px + 44*((100vw - 320px)/820));
  }

  .btn_white {
    padding-left: calc(60px + 25*((100vw - 320px)/820));
  }

  .btn_white {
    padding-right: calc(60px + 25*((100vw - 320px)/820));
  }

  .video {
    height: calc(220px + 430*((100vw - 320px)/820));
  }

  .video-slider__prev {
    left: calc(-25px + -25*((100vw - 320px)/820));
  }

  .video-slider__next {
    right: calc(-25px + -25*((100vw - 320px)/820));
  }

  .m-h2 {
    font-size: calc(14px + 10*((100vw - 320px)/820));
  }

  .why__item {
    font-size: calc(12px + 8*((100vw - 320px)/820));
  }

  .org__img {
    margin-bottom: calc(18px + 28*((100vw - 320px)/820));
  }

  .org__title {
    font-size: calc(12px + 20*((100vw - 320px)/820));
  }

  .form-block_h4 {
    font-size: calc(14px + 18*((100vw - 320px)/820));
  }

  .amba__pic {
    width: calc(95px + 165*((100vw - 320px)/820));
  }

  .amba__pic {
    height: calc(95px + 165*((100vw - 320px)/820));
  }
}

@media (max-width: 900px) {
  .hero__image-block {
    width: 80%;
  }

  .form {
    margin-left: 8%;
    margin-right: 8%;
    padding: 52px 60px 49px 60px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 100vw;
  }

  .h1 {
    display: none;
  }

  .h3 {
    display: none;
  }

  .m_h3 {
    display: block;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
  }

  .h5 {
    display: none;
  }

  .h5_m {
    display: block;
    padding-bottom: 10px;
  }

  .footer {
    padding: 20px 0;
  }

  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer__column {
    width: auto;
    margin-bottom: 30px;
  }

  .hero__image-block {
    display: none;
  }

  .hero__m-image-block {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .hero__list {
    display: none;
  }

  .hero__m-list {
    display: block;
    background: url("../img/m_bg2.png") no-repeat center top/cover;
    padding: 0 20px 20px;
  }

  .hero__text {
    display: none;
  }

  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }

  .header__logo {
    display: block;
  }

  .offer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .offer__title {
    color: #c70540;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    width: 100%;
    margin: 0 auto;
  }

  .h1_m {
    display: block;
  }

  .btn_submit {
    padding-left: 57px;
    padding-right: 57px;
  }

  .about {
    display: none;
  }

  .m-about {
    display: block;
    padding-bottom: 0px;
  }

  .m-about__item {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 30px;
  }

  .m-about__item_pink {
    background-color: #fae6eb;
  }

  .m-about__block {
    background: url("../img/bg1.png") no-repeat center right/cover;
  }

  .m-about__text {
    padding-left: 3%;
    width: 60%;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 30px;
  }

  .m-about__text_pink {
    background-color: #fae6eb;
  }

  .why {
    background: none;
  }

  .why__img {
    display: block;
  }

  .why__h2 {
    color: #c70540;
    width: 80%;
  }

  .why__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 250px;
    margin-top: 920px;
  }

  .why__column {
    width: 80%;
  }

  .why__item {
    margin-bottom: 20px;
  }

  .why__item > span {
    text-transform: uppercase;
  }

  .why__item::after {
    width: 100%;
    height: 1px;
  }

  .why__item_right {
    text-align: left;
  }

  .org {
    background: url("../img/m_bg3.png") no-repeat center center/cover;
  }

  .org__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .org__img {
    width: 72px;
  }

  .org__column {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
  }

  .org__column_right {
    width: 80%;
    text-align: center;
  }

  .org__txt-block {
    display: none;
  }

  .back {
    display: none;
  }

  .diploma1200 {
    display: none;
  }

  .diploma-m {
    display: block;
    background: url("../img/bg_4-m.png") no-repeat top center/cover;
  }

  .diploma-m__item {
    position: relative;
    width: 95%;
  }

  .diploma-m__block {
    display: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .diploma-m__text-block {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 22px 30px 34px 15px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .diploma-m__title {
    -moz-text-align-last: left;
         text-align-last: left;
    font-weight: 500;
    color: #c70540;
    font-size: 40px;
  }

  .diploma-m__title > span {
    text-transform: uppercase;
  }

  .diploma-m__title-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 200px;
  }

  .diploma-m__price {
    font-weight: 700;
    color: #c70540;
    font-size: 36px;
  }

  .diploma-m__text {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .diploma-m__text > span {
    text-transform: uppercase;
  }

  .diploma-m__img {
    width: 100%;
  }

  .diploma-m__h2 {
    padding-top: 20px;
  }

  .form-block {
    padding-bottom: 0;
    padding-top: 0;
  }

  .form-block_h4 {
    display: none;
  }

  .form-block_m-h4 {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
  }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    background-color: white;
  }

  .form__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__left {
    width: 100%;
    margin-right: 0;
  }

  .form__right {
    width: 100%;
    padding-left: 28px;
    margin-top: 20px;
  }

  .form__right-block:not(:last-child) {
    margin-bottom: 20px;
  }

  .input {
    padding-left: 28px;
    border-left: none;
    border-right: none;
  }

  .input:not(:last-child) {
    border-bottom: none;
    margin-bottom: 0;
  }

  .ambassador_h2 {
    display: none;
  }

  .ambassador_h4 {
    display: none;
  }

  .ambassador-m_h4 {
    display: block;
  }

  .sponsors_h2 {
    display: none;
  }

  .sponsors-m_h4 {
    display: block;
    margin-bottom: 45px;
  }

  .sponsors__title {
    display: none;
  }
}

@media (max-width: 768px) and (max-width: 1140px) {
  .offer__title {
    font-size: calc(20px + 12*((100vw - 320px)/820));
  }

  .m-about__item {
    padding-top: calc(12px + 28*((100vw - 320px)/820));
  }

  .m-about__item {
    padding-bottom: calc(12px + 28*((100vw - 320px)/820));
  }

  .m-about__item {
    font-size: calc(12px + 18*((100vw - 320px)/820));
  }

  .m-about__text {
    padding-top: calc(12px + 28*((100vw - 320px)/820));
  }

  .m-about__text {
    padding-bottom: calc(12px + 28*((100vw - 320px)/820));
  }

  .m-about__text {
    font-size: calc(12px + 18*((100vw - 320px)/820));
  }

  .why__block {
    margin-top: calc(250px + 670*((100vw - 320px)/820));
  }

  .diploma-m__text-block {
    padding-bottom: calc(34px + 26*((100vw - 320px)/820));
  }

  .diploma-m__text-block {
    padding-left: calc(15px + 45*((100vw - 320px)/820));
  }

  .diploma-m__text-block {
    padding-right: calc(30px + 30*((100vw - 320px)/820));
  }

  .diploma-m__title {
    font-size: calc(14px + 26*((100vw - 320px)/820));
  }

  .diploma-m__title-wrap {
    margin-bottom: calc(25px + 175*((100vw - 320px)/820));
  }

  .diploma-m__price {
    font-size: calc(16px + 20*((100vw - 320px)/820));
  }

  .diploma-m__text {
    font-size: calc(12px + 18*((100vw - 320px)/820));
  }
}

@media (max-width: 600px) {
  .video-slider__next,
  .video-slider__prev {
    width: 20px;
    height: 20px;
  }

  .card {
    width: 100%;
    margin: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .slider-container .swiper-wrapper {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .amba__card {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .sponsor {
    display: none;
  }

  .sponsor__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .sponsor__name {
    margin-top: 20px;
  }

  .slider {
    display: block;
  }

  .slider__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 30%;
  }

  .sponsor__arrows {
    position: absolute;
    top: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}